{{ define "main" -}}
<div class="posts">
  <h2>猫月あゆむ Portfolio</h2>
  <p>個人情報を記載しています。取り扱いにはご注意ください。</p>

  <h3>個人データ</h3>
  <ul>
    <li>ハンドルネーム：猫月遥歩（ねこづきあゆむ）</li>
    <li>2020年4月現在、N高等学校 第３学年在籍中</li>
  </ul>

  <p></p>

  <h3>主な活動経歴</h3>
  <ul>
    <li>個人的／イベント企画などの静的Webサイト構築</li>
    <li>ブラウザ拡張機能の制作</li>
  </ul>

  <h3>各種リンク</h3>
  <ul>
    <li><a href="/skils">所持スキル</a></li>
    <li><a href="/history">経歴</a></li>
    <li><a href="https://nekozuki.me/makes">制作物一覧</a></li>
    <li><a href="https://nekozuki.me/links">SNSなどリンク集</a></li>
    <li><a href="https://nekozuki.me/contact">連絡先</a></li>
  </ul>

  <h3>"猫月あゆむ"としての活動リンク</h3>
  <ul>
    <li><a href="https://nekozuki.me">猫月あゆむの詳細</a></li>
    <li><a href="https://blog.nekozuki.me">ブログ</a></li>
  </ul>
</div>

<a href="#" class="back-to-top"></a>
{{- end }}
